@import url("https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  /* font-family: "Bai Jamjuree", sans-serif; */
  /* font-family: "Anek Kannada", sans-serif; */
}

/* GSAP ANIMATION  ✨*/
.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}
/* GSAP ANIMATION ✨*/

::-webkit-scrollbar {
  width: 3px;
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #fffa;
  border-radius: 50px;
}

/* .cursor {
    height: 100px;
    width: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border: 1px solid #fff;
    mix-blend-mode: difference;
    background-color: #fff;
    transition: .1s;
    box-shadow: 0 0 10px 5px #fff; 
    pointer-events: none;
    z-index: -99;
} */

/* NAVBAR PAGE ⚡*/

navbar {
  background-color: #86868630;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  z-index: 99;
}

.burger {
  display: none;
}

navbar .logo {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #111a;
  border: 1px solid #ffffff42;
  border-radius: 20px;
  padding-right: 15px;
  cursor: pointer;
}

navbar .logo p {
  font-family: sans-serif;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #fffa;
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

navbar .logo > img {
  width: 50px;
  padding: 10px;
}

.links {
  display: flex;
  gap: 2em;
  background-color: #0404047c;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ffffff42;
}

.links > li {
  list-style: none;
  padding: 10px;
}

.links li a {
  font-family: "Bai Jamjuree", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
}

.links a:hover {
  color: #fff;
  background-color: #5d46f4aa;
}

/* HOME PAGE ⚡*/

section {
  background-image: url(/img/note-book-8566854_1280.webp);
  background-size: cover;
  height: 750px;
}

section .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #111a;
  height: 100%;
  gap: 2em;
}

section .title h1 {
  font-size: 50px;
  font-family: "Anek Kannada", sans-serif;
  font-weight: 300;
  color: #fffa;
}

.title .social-media {
  display: flex;
  gap: 3em;
}

.title .social-media i {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.title .social-media i:hover {
  background-color: #6b47fb;
  padding: 10px;
  border-radius: 10px;
}


section .title img {
  width: 30px;
  background-color: #fff;
  border-radius: 10px;
}

section .title p {
  width: 60%;
  color: #fffa;
  font-weight: 300;
  font-family: "Anek Kannada", sans-serif;
}

section .title button {
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 65px;
  font-size: 15px;
  font-weight: 100;
  font-family: "Bai Jamjuree", sans-serif;
  padding: 10px;
  background-color: #fffdfd45;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

section .title button:hover {
  background-color: #fff;
  color: #6b47fb;
  /* box-shadow: 0 0 20px 1px #6b47fb; */
}

/* LINE PAGE ✍️*/

.line-box {
  height: 400px;
  background-color: #222a;
  display: flex;
  justify-content: center;
  gap: 34px;
}

.line-box h1 {
  position: absolute;
  color: #fffa;
  font-family: "Anek Kannada", sans-serif;
  font-weight: 300;
  font-size: 18px;
  transform: translateY(9em) translateX(35px);
}

.line3 {
  height: 200px;
  width: 1.5px;
  position: relative;
  top: 200px;
  animation: line 4s infinite;
  border-radius: 50px;
}

.line2 {
  position: relative;
  top: 200px;
  height: 90px;
  width: 1.5px;
  transform: rotate(-50deg);
  animation: line 4s infinite;
  border-radius: 50px;
}

.line1 {
  height: 216.4px;
  width: 1.5px;
  transform: translateX(1.5px);
  animation: line 6s infinite;
  border-radius: 20px;
}

@keyframes line {
  0% {
    background-color: #3c3c3c;
  }
  50% {
    background-color: #fffa;
  }
  100% {
    background-color: #3c3c3c;
  }
}

